/holaMundo/target/
/holaMundo/nbproject/private/
/holaMundo/build/
/hola-mundo/nbproject/private/
/holaMundoNB/nbproject/private/
/holaMundoNB/build/
/aprobadoONo/nbproject/private/
/aprobadoONo/build/
/Ejecrcio N°3 Variables-Constantes-Tipos/nbproject/private/
/Ejecrcio N°3 Variables-Constantes-Tipos/build/
/Ejercicio Nº4 Variables/nbproject/private/
/Ejercicio Nº4 Variables/build/
/Ejercicio Nº5 - Variables/nbproject/private/
/Ejercicio Nº5 - Variables/build/
/Ejercicio N°7 Clase  Scanner/nbproject/private/
/Ejercicio N°7 Clase  Scanner/build/
/multiplicacion/nbproject/private/
/ejercicioTemperatura/nbproject/private/
/ejercicioTemperatura/build/
/Ejercicio N°6 Condicionales IF/nbproject/private/
/Ejercicio N°6 Condicionales IF/build/
/calcularVacaciones/nbproject/private/
/calcularVacaciones/build/
/calculadora-basica/nbproject/private/
/calculadora-basica/build/
/Ejercicio N ° 9  Ticket de  Restaurante/nbproject/private/
/Ejercicio N ° 9  Ticket de  Restaurante/build/
/SwitchClase1904/nbproject/private/
/SwitchClase1904/build/
/Ejercicio N ° 10 - SWITCH/nbproject/private/
/Ejercicio N ° 10 - SWITCH/build/
/MetodosSLL/nbproject/private/
/MetodosSLL/build/
/WHILE20230426/nbproject/private/
/WHILE20230426/build/
