/holaMundo/target/
/holaMundo/nbproject/private/
/holaMundo/build/
/hola-mundo/nbproject/private/
/holaMundoNB/nbproject/private/
/holaMundoNB/build/
/aprobadoONo/nbproject/private/
/aprobadoONo/build/
/Ejecrcio N°3 Variables-Constantes-Tipos/nbproject/private/
/Ejecrcio N°3 Variables-Constantes-Tipos/build/
/Ejercicio Nº4 Variables/nbproject/private/
/Ejercicio Nº4 Variables/build/
/Ejercicio Nº5 - Variables/nbproject/private/
/Ejercicio Nº5 - Variables/build/
